* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #0e0b16;
    color: #e84545;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.link-section img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    align-items: center;

}

#main-content {
    position: sticky;
    top: 0; /* Keeps the header at the top */
    background-color: #1a1a2e;
    padding: 10px;
    text-align: center;
    border-bottom: 10px solid #e84545;
    z-index: 1000; /* High z-index for visibility */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav a {
    color: #e84545;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #903749;
}

/* Basic styles for hamburger */
.hamburger {
    display: none; /* Hide by default */
    font-size: 30px; /* Adjust size as needed */
    cursor: pointer;
}

/* Hide nav links by default */
nav {
    display: flex; /* Display normally */
}

.title-section {
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    display: flex; /* Centering the text */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    overflow: hidden;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.title-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire section */
    filter: blur(10px); /* Apply the blur effect to the image */
    z-index: 0; /* Behind the text */
}

.title-content {
    position: relative; /* Positioning context for text */
    z-index: 2; /* Ensure text is above the background */
    text-align: center;
}

.title-content h1 {
    font-size: 3rem;
    color: #e84545;
}

#rotating-text {
    color: #e84545;
    font-style: italic;
    transition: opacity 0.3s ease; /* Smooth transition for text change */
    font-size: 3rem;
}

.blinking-cursor::after {
    content: '|'; /* Display the blinking cursor */
    opacity: 1;
    margin-left: 5px;
    animation: blink 0.5s step-end infinite; /* Blink animation */
}

@keyframes blink {
    50% {
        opacity: 0; /* Halfway through the animation, make it invisible */
    }
}

.header, .title-section, .portfolio, .about-container, .experience-section {
    max-width: 1200px; /* Max width for larger screens */
    margin: 0 auto; /* Center the content */
    padding: 10px; /* Add some padding */
}

.Logo-Pic {
    width: 75px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

section {
    padding: 40px 20px;
    text-align: center;
    background-color: #1a1a2e; /* Background for other sections */
    margin: 20px; /* Space between sections */
    border-radius: 10px; /* Rounded corners */
}

#about p, #hobbies p, #Portfolio p, #Awards p{
    max-width: 800px;
    margin: 0 auto;
    color: #f2f2f2;
}

.experience-section {
    width: 50%;
    float: left;
    padding: 20px;
    background-color: #1f4068;
    color: #f2f2f2;
    margin: 10px;
    border-radius: 8px;
}

.skills-section {
    width: 35%;
    float: right;
    padding: 20px;
    background-color: #162447;
    color: #f2f2f2;
    margin: 10px;
    border-radius: 8px;
}

.experience-item, .education-item {
    margin-bottom: 20px;
}

h4 {
    font-size: 1.5rem;
    color: #e84545;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}
/* Style the list of skills */
.skills-section ul {
    list-style: none; /* Remove bullets from list */
    padding: 0;
}

.skills-section li {
    margin-bottom: 10px; /* Space between skills */
}

.skills-section strong {
    color: #e84545; /* Highlight for skill categories */
}

.year-buttons {
    text-align: center;
    margin: 20px 0;
}

.year-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #e84545;
    background-color: #1a1a2e;
    border: 2px solid #e84545;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.year-buttons button:hover {
    background-color: #e84545;
    color: #1a1a2e;
}

.year-section {
    display: none;
    margin: 40px 0;
}

.project-card {
    background-color: #1f4068;
    margin: 15px 0;
    padding: 20px;
    max-height: 250px;
    border-radius: 10px;
    transition: max-height 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.project-card:hover {
    transform: scale(1.05);
    height: 400px; /* Expand height on hover */
    background-color: #162447;
}

.project-card::after {
    content: "Click to Learn More!";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #f2f2f2;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-card:hover::after {
    opacity: 1;
}

.project-image {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: contain;
}

.about-text {
    flex: 1; /* Take up 60% of the available space */
}

.about-text h2 {
    color: #e84545;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.6;
}

.about-image img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    float: right;
    right: 300px;
    margin-top: -225px;
    flex-shrink: 0; /* Prevent the image from shrinking */
    position: absolute;
}

#hobbies {
  margin-top: 20px;
}

.hobby {
  display: flex;
  align-items: center;
  border: 1px solid #1a1a2e;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
  background-color: #162447;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.hobby img {
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.hobby-content {
  flex: 1;
}

.hobby-content h3 {
  margin: 0;
  font-size: 1.5em;
  color: #e84545;
  text-align: left;
}

.hobby-content p {
  margin-top: 8px;
  font-size: 1em;
  color: #666;
  float: left;
  text-align: left;
}

#Social img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    align-items: center;
}


h3 {
    color: #e84545; /* Title color */
}

footer {
    margin-top: auto;
    text-align: left;
    padding: 10px;
    background-color: #1a1a2e;
    border-top: 2px solid #e84545;
    color: #f2f2f2;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.Footer-Logo {
    float: right;
    position: relative;
    top: -25px;
    width: 35px;
    /* border-radius: 25%; */
}

/* Base styles for mobile devices */
body {
    font-size: 16px; /* Adjust base font size */
}

h1, h2, h3, h4 {
    margin: 0; /* Reset margins for headers */
}

/* Styles for larger screens */
@media only screen and (min-width:320px) {
    /* Add styles for tablet and larger screens */
    body {
        font-size: 18px; /* Adjust base font size for larger screens */
    }
    
    header {
        display: flex; /* Use flexbox for header layout */
        justify-content: space-between; /* Space out logo and navigation */
    }
    
    nav ul {
        display: none; /* Hide the menu */
        flex-direction: column; /* Stack items vertically */
        position: absolute; /* Overlay the menu */
        background-color: white; /* Set background color */
        width: 100%; /* Full width */
        top: 60px; /* Adjust based on header height */
        left: 0; /* Align to the left */
    }

    nav ul.active {
        display: flex; /* Show menu when active */
    }

    .hamburger {
        display: block; /* Show hamburger */
    }

    nav ul li {
        margin: 0 15px; /* Add space between navigation items */
    }

    /* Adjust the main content padding */
    #main-content {
        padding-top: 70px; /* Prevent content from hiding behind the menu */
    }
}

/* Styles for desktop */
@media only screen and (min-width:769px) {
    /* Additional styles for desktop screens */
    .year-buttons {
        display: flex; /* Arrange buttons in a row */
        justify-content: center; /* Center the buttons */
    }

    .project-card {
        display: inline-block; /* Align project cards horizontally */
        margin: 10px; /* Space between cards */
    }

    .hamburger {
        display: none;
    }
}
